
.task{
    height: 30px;
    width: 480px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px, solid, black;
    &:hover .delete{
        display: inline;
    }
} 

.text-task{
    font-size: 24px;
    font-family: inherit;
    margin-left: 30px;
}

.task-done{
    font-size: 24px;
    font-family: inherit;
    margin-left: 30px;
    text-decoration: line-through;
}

.delete{
    display: none;
    padding: 0;
    border: none;
    font: inherit;
    color:inherit;
    background-color: transparent;
    cursor: pointer;
    margin-right: 15px;
}

.input-check{
    transform: scale(1.3);
}