<h1>Todos</h1>
 <div class="main-field">
    <input (click)="changeAllTask()" class="general-check" type="checkbox">
    <input (keyup.enter)="addTask()" class="input-field" placeholder="What needs to be done?" [(ngModel)]="taskName" />
 </div>
<app-task-list
   (changeTaskName)="changeTaskName($event)"
   (changeStateTask)="changeStateTask($event)"
   (countTaskLeft)="countTaskLeft()"
   (delTaskId)="removeTask($event)"
   [completeTask]="task.completeTask"
   [taskName]="task.name"
   [id]="task.id"
   [ngClass]="{'active': task.visible, 'inactive': !task.visible}"
   *ngFor="let task of todoList">
</app-task-list>
<app-footer-task
   [itemsLeft]="taskLeft"
   (completedTask)="viewCompletedTask()"
   (activeTask)="viewActiveTask()"
   (allTask)="viewAllTask()"
   (deleteCompleteTask)="deleteCompleteTask()">
</app-footer-task>